*
{
    margin: 10px;
}
.active
{
    margin-top: 50px;
    border: 1px solid gray;
    padding: 20px;
    margin-left: 150px;
    border-radius: 10px ;
    background-color:lightseagreen;
}
div h3
{
   color: white;
}
p
{
    color: white;
}